@{
    var title = Document.GetString("Title") ?? Document.GetString("SiteTitle");
    var description = Document.WithoutSettings().GetString("Lead") ??
                      Document.WithoutSettings().GetString(WebKeys.Description);
}

<header>
    <div class="c-post-header mb-3">
        <h1 class="card-title c-post-header__title">@title</h1>
        @if (!string.IsNullOrEmpty(description))
        {
            <h2 class="card-text c-post-header__description">@description</h2>
        }

        <div class="card-text c-post-header__meta">
            Published on @Document.GetDateTime(WebKeys.Published).ToLongDateString()
        </div>
        <div class="card-text c-post-header__meta">
            Updated on @Document.GetDateTime(WebKeys.Updated).ToLongDateString()
        </div>

        @if (Document.ContainsKey("Tags"))
        {
            <div class="mt-3 mb-4">
                @foreach (var tag in Document.GetList<string>("Tags")
                    .Select(x => Outputs["tags.html"]
                        .First()
                        .GetChildren()
                        .FirstOrDefault(y => y.GetTitle().Equals(x, StringComparison.OrdinalIgnoreCase)))
                    .Where(x => x != null))
                {
                    <a href="@Context.GetLink(tag)" class="badge badge-light c-tag__light"> @tag.GetTitle()</a>
                }
            </div>
        }

        <hr>
    </div>
</header>
