@{
    var excerpt = Model.GetString(Keys.Excerpt);
    var published = Model.GetDateTime(WebKeys.Published);
}

<div class="card shadow-sm c-post-preview">
    <div class="card-body p-4">
        <h2 class="card-title">@Html.DocumentLink(Model)</h2>
        @if (Model.ContainsKey("Lead"))
        {
            <div class="card-subtitle">@Model.GetString("Lead")</div>
        }
        <p class="post-meta c-post-preview__meta">
            <time datetime="@published.ToString("yyyy-MM-ddTHH:mm:sszzz")">
                @published.ToLongDateString()
            </time>
        </p>
        @if (!string.IsNullOrEmpty(excerpt))
        {
            <div class="card-text">@Html.Raw(excerpt)</div>
            <a class="card-link" href="@Context.GetLink(Model)">Read more...</a>
        }
    </div>
</div>
